.img-responsive {
  width: 110px;
  height: auto;

}  
@media (max-width: 760px) {
  .img-responsive {
    width: 100px;
  }
}

@media (max-width: 410px) {
  .img-responsive {
    width: 75px;
  }

}

#banner {
  background-color: #F4224B;
  color: white;
  font-family: 'DM Sans';
  width: 100%;
  font-size: 0.9rem;
  padding: 0.35em;
  text-align: center;
}